
h1{
    text-align: center;
}

img{
    width: 210px;
    height: 350px;
}


.carte{
    background-color: #254025;
    border-radius: 3%;
    width: 35%;
    display: flex;

}

.container_prem{
    margin: 10px;
}